aioredis==1.3.1
appdirs==1.4.4
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.6
daphne==3.0.1
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.2
django-allauth==0.42.0
django-cors-headers==3.5.0
django-rest-api==0.1.5
django-rest-auth==0.9.5
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
filelock==3.0.12
hiredis==1.1.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==2.0.0
incremental==17.5.0
msgpack==1.0.2
numpy==1.19.2
oauthlib==3.1.0
Pillow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==20.0.1
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
Twisted==20.3.0
txaio==20.12.1
urllib3==1.25.10
virtualenv==20.0.35
zipp==3.3.1
zope.interface==5.2.0
